* {
    padding: 0;
    margin: 0;
}
body, html {
    width: 450px;
    padding: 6px;
}
.items {
    margin-bottom: 6px;
    list-style: none;
    padding-left: 12px;
    width: 100%;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 32px;
}
.input-word {
    width: 100%;
    height: 22px;
    border: 1px solid #ccc;
}
.add {
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    height: 28px;
    font-size: 14px;
    margin-top: 12px;
}